.App {
  text-align: center;
}

.App-title {
  text-align: center;
}

.App-link {
  width: 80px;
  display: inline-block;
}

.App-link:hover {
  text-decoration: underline;
}

.App-memberList-table th,
.App-memberList-table td {
  border: 1px solid gray;
  padding: 8px;
  text-align: center;
  /* table-layout: fixed; */
}

.App-memberList-table {
  width: 50%;
  margin: auto;
  border: 1px solid gray;
  border-collapse: collapse;
  table-layout: fixed;
}